.assistive-text {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}

.assistive-text:hover,
.assistive-text:active,
.assistive-text:focus {
  background-color: var(--background-color);
  box-shadow: 0 0 0.125em 0.125em rgba(0, 0, 0, 0.6);
  clip: auto;
  clip-path: initial;
  display: block;
  font-family: var(--font-sans-serif);
  font-size: 1em;
  font-weight: 700;
  height: auto;
  left: 0.3125em;
  line-height: normal;
  outline-offset: -0.1875em;
  padding: 0.9375em 1.4375em 0.875em;
  position: absolute;
  text-decoration: none;
  top: 0.3125em;
  width: auto;
  z-index: 10;
}

:focus {
  outline: 0.1875rem solid currentColor;
  outline-offset: 0.09375rem;
}

.no-offset:focus {
  outline-offset: -0.09375rem;
}
