.card {
  margin-block-end: 1.5em;
}

.card a {
  max-width: max-content;
  padding: 0 0.25rem;
}

.card time {
  font-variation-settings:
    'wght' var(--variable-wght-med),
    'slnt' var(--variable-slant);
  display: block;
}

.card span {
  font-size: 0.9em;
  display: inline-block;
}

.project {
  margin-block-end: 1.5em;
}

.project > a {
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-sans-serif);
  font-size: 1.25em;
  font-variation-settings: 'wght' var(--variable-wght-med);
  display: block;
  max-width: max-content;
  margin-block-end: 0.25em;
  line-height: 1.3;
  padding: 0 0.25rem;
}

.project span {
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-sans-serif);
  font-variation-settings:
    'wght' var(--variable-wght-med),
    'slnt' var(--variable-slant);
}
