@media (prefers-color-scheme: dark) {
  :root.no-js {
    --body-background: #1b2127;
    --primary: #f1f1f1;
    --secondary: #acacac;
    --link: #00bfff;
    --active: #ff8a8a;
    --visited: #bc75ff;
    --score-good: #6ab68f;
    --score-ok: #ffc866;
    --score-bad: #ff948d;
  }
}

:root.dark-mode {
  --body-background: #1b2127;
  --primary: #f1f1f1;
  --secondary: #acacac;
  --link: #00bfff;
  --active: #ff8a8a;
  --visited: #bc75ff;
  --score-good: #6ab68f;
  --score-ok: #ffc866;
  --score-bad: #ff948d;
}
