@media (prefers-color-scheme: dark) {
  :root.no-js {
    --body-background: 27, 33, 39;
    --primary: 241, 241, 241;
    --secondary: 172, 172, 172;
    --link: 255, 246, 81;
    --active: 255, 138, 138;
    --visited: 188, 117, 255;
    --score-good: 106, 182, 143;
    --score-ok: 255, 200, 102;
    --score-bad: 255, 148, 141;
  }
}

:root.dark-mode {
  --body-background: 27, 33, 39;
  --primary: 241, 241, 241;
  --secondary: 172, 172, 172;
  --link: 255, 246, 81;
  --active: 255, 138, 138;
  --visited: 188, 117, 255;
  --score-good: 106, 182, 143;
  --score-ok: 255, 200, 102;
  --score-bad: 255, 148, 141;
}
