:root {
  /* base typography */
  --font-serif: 'Cooper', georgia, 'Times New Roman', times, serif;
  --font-sans-serif: 'Proxima Vara', -apple-system, blinkmacsystemfont,
    'Segoe UI', roboto, helvetica, arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-mono: menlo, courier, monospace;
  --variable-wght-bold: 808;
  --variable-wght-med: 650;
  --variable-wght-reg: 400;
  --variable-italic: 100;

  /* base colors overrides in color-scheme */
  --body-background: #f1f1f1;
  --primary: #38220b;
  --secondary: #143f40;
  --link: #00e;
  --active: #e00;
  --visited: #551a8b;

  /* base measurements */
  --radius: 0.33em;
  --radius-2: 0.66em;
  --long-shadow: -0.03125rem 0.03125rem 0 var(--secondary),
    -0.0625rem 0.0625rem 0 var(--secondary),
    -0.09375rem 0.09375rem 0 var(--secondary),
    -0.125rem 0.125rem 0 var(--secondary),
    -0.15625rem 0.15625rem 0 var(--secondary),
    -0.1875rem 0.1875rem 0 var(--secondary),
    -0.21875rem 0.21875rem 0 var(--secondary),
    -0.25rem 0.25rem 0 var(--secondary),
    -0.28125rem 0.28125rem 0 var(--secondary),
    -0.3125rem 0.3125rem 0 var(--secondary),
    -0.34375rem 0.34375rem 0 var(--secondary),
    -0.375rem 0.375rem 0 var(--secondary);
  --transition: 0.35s ease-in-out;

  /* speedlify rank colors */
  --score-good: #066b37;
  --score-ok: #ba4c03;
  --score-bad: #d10000;
}

@media (prefers-color-scheme: dark) {
  :root.no-js {
    --body-background: #1b2127;
    --primary: #f1f1f1;
    --secondary: #acacac;
    --link: #00bfff;
    --active: #ff8a8a;
    --visited: #bc75ff;
    --score-good: #6ab68f;
    --score-ok: #ffc866;
    --score-bad: #ff948d;
  }
}

:root.dark-mode {
  --body-background: #1b2127;
  --primary: #f1f1f1;
  --secondary: #acacac;
  --link: #00bfff;
  --active: #ff8a8a;
  --visited: #bc75ff;
  --score-good: #6ab68f;
  --score-ok: #ffc866;
  --score-bad: #ff948d;
}

@media (color-gamut: p3) {
  :root {
    /* base colors overrides in color-scheme */
    --body-background: oklch(95.81% 0 0deg);
    --primary: oklch(27.48% 0.049 64.33deg);
    --secondary: oklch(33.87% 0.047 197.33deg);
    --link: oklch(42.9% 0.297278 264.052021deg);
    --active: oklch(59.6% 0.244572 29.233885deg);
    --visited: oklch(37.84% 0.172 302.15deg);

    /* speedlify rank colors */
    --score-good: oklch(46.35% 0.118 152.78deg);
    --score-ok: oklch(55.42% 0.158 44.8deg);
    --score-bad: oklch(54.05% 0.221786 29.233885deg);
  }

  @media (prefers-color-scheme: dark) {
    :root.no-js {
      --body-background: oklch(24.44% 0.014 248.42deg);
      --primary: oklch(95.81% 0 0deg);
      --secondary: oklch(74.44% 0 0deg);
      --link: oklch(75.54% 0.153 231.64deg);
      --active: oklch(76.15% 0.142 20.94deg);
      --visited: oklch(69.64% 0.201922 305.539504deg);
      --score-good: oklch(71.59% 0.096 160.29deg);
      --score-ok: oklch(86.3% 0.131 79.98deg);
      --score-bad: oklch(77.77% 0.129982 24.457499deg);
    }
  }

  :root.dark-mode {
    --body-background: oklch(24.44% 0.014 248.42deg);
    --primary: oklch(95.81% 0 0deg);
    --secondary: oklch(74.44% 0 0deg);
    --link: oklch(75.54% 0.153 231.64deg);
    --active: oklch(76.15% 0.142 20.94deg);
    --visited: oklch(69.64% 0.201922 305.539504deg);
    --score-good: oklch(71.59% 0.096 160.29deg);
    --score-ok: oklch(86.3% 0.131 79.98deg);
    --score-bad: oklch(77.77% 0.129982 24.457499deg);
  }
}
