:root {
  --font-sans-serif: "futura-pt", -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-serif: georgia, "Times New Roman", times, serif;
  --font-mono: menlo, courier, monospace;
}
