.hero-grid {
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  overflow: hidden;
  margin-block-end: 1.5em;
}

.hero-grid header {
  width: fit-content;
  margin-block-end: 1.5em;
  padding: 0 2rem;

  @supports (animation-timeline: scroll()) {
    @media (prefers-reduced-motion: no-preference) {
      animation-fill-mode: both;
      animation-name: header-scroll-animation;
      animation-timeline: view();
      animation-range: exit -25% exit 95%;
    }
  }
}

.hero-grid header.no-hero {
  margin-block-start: 5rem;

  @media only screen and (min-width: 48em) {
    margin-block-start: clamp(6vw, 10vw, 15vw);
  }
}

.hero-grid header h1 span {
  font-size: 0.5em;
}

.hero-grid header > div {
  display: inline-block;
  padding-block-end: 0.5em;
  border-block-end: 0.125em solid var(--secondary);
}

.hero-grid header > div > span:last-of-type {
  display: block;
}

.hero-grid .hero {
  order: -1;

  @supports (animation-timeline: scroll()) {
    @media (prefers-reduced-motion: no-preference) {
      animation-fill-mode: both;
      animation-name: header-scroll-animation;
      animation-timeline: view();
      animation-range: exit 0% exit 100%;
    }
  }
}

.hero:not(.no-filter)::after {
  display: inline-block;
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  background: var(--secondary);
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  mix-blend-mode: multiply;
  opacity: 0.35;
  pointer-events: none;
}

.hero:not(.no-filter) img {
  width: 100%;
  filter: brightness(125%) saturate(5%);
}

@supports (display: grid) {
  @media only screen and (min-width: 48em) {
    .hero-grid {
      display: grid;
      grid-template-columns:
        0.25fr
        0.5fr
        0.5fr
        min(50ch, 100%)
        0.5fr
        1fr;
      padding: 0 2rem;
    }

    .hero-grid > header {
      position: relative;
      background: var(--body-background);
      width: calc(100% + 4em);
      padding: 1.5em 2em;
      grid-row: 1 / 3;
      grid-column: 4;
      align-self: end;
      z-index: 4;
      margin-block-end: 0;
      margin-inline-start: -2em;
      border-radius: var(--radius);
    }

    .hero-grid .hero {
      grid-row: 1;
      grid-column: 3 / 7;
      width: calc(100% + 2rem);
      margin-block-end: 0;
      border-end-start-radius: var(--radius);
    }
  }
}
