.site > footer {
  bottom: 0;
  padding: 3rem 2rem;
  border: 0.0625rem solid var(--secondary);
  border-radius: var(--radius);
}

.site > footer > section {
  display: flex;
  flex-wrap: wrap;
}

.site > footer > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.site > footer > ul li:not(:last-of-type) {
  margin-inline-end: 1em;
}

.site > footer > ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site > footer > ul a svg {
  width: 3em;
  height: 3em;
}

.site > footer h2 {
  width: 100%;
}

.site > footer p {
  width: 100%;
  margin-block-end: 0.75em;
}

.site > footer p:last-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block-end: 1.25em;
}

.site > footer p:last-of-type a {
  height: max-content;
  margin-block-start: 0.25em;
}

.site speedlify-score {
  flex-wrap: wrap;
  gap: 0.25em;
}

.site .speedlify-score {
  border-width: 0.125em;
  font-variation-settings:
    'wght' var(--variable-wght-med),
    'ital' var(--variable-italic);
  color: var(--score-good);
  margin: 0;
}

.site .speedlify-score-ok {
  color: var(--score-ok);
}

.site .speedlify-score-bad {
  color: var(--score-bad);
}

.site .speedlify-rank-change {
  font-variation-settings:
    'wght' var(--variable-wght-med),
    'ital' var(--variable-italic);
  border-block-end: 0.125em solid currentcolor;
}

.site .speedlify-rank-change.up {
  color: var(--score-good);
}

.site .speedlify-rank-change.down {
  color: var(--score-bad);
}

.site .speedlify-rank-change.up::before {
  font-family: var(--font-display);
}

.site .speedlify-rank-change.down::before {
  font-family: var(--font-display);
}

@supports (display: grid) {
  @media only screen and (min-width: 48em) {
    .site > footer {
      margin-block-start: 6rem;
    }
  }

  @media only screen and (min-width: 125em) {
    .site > footer ul {
      justify-content: flex-end;
      grid-column: 1;
    }
  }
}
