.site > footer {
  border: 0.0625rem solid var(--primary);
  bottom: 0;
  box-shadow: var(--secondary) 0 0.1875em 0.5em;
  margin-top: 6rem;
  padding: 3rem 2rem;
}

.site > footer > ul {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.site > footer > ul li:not(:last-of-type) {
  margin-right: 1em;
}

.site > footer > ul a {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans-serif);
  font-style: italic;
  font-weight: 700;
}

.site > footer > ul a svg {
  height: 3em;
  width: 3em;
}

.site > footer p {
  margin-bottom: 0.75em;
}

.site > footer small {
  font-family: var(--font-sans-serif);
}

@supports (display: grid) {
  @media only screen and (min-width: 73.4375em) {
    .site > footer {
      display: grid;
      grid-template-columns:
        2fr
        0.5fr
        min(55ch, 100%)
        0.5fr
        1fr;
    }
    .site > footer section {
      grid-column: 3;
    }
    .site > footer ul {
      justify-content: flex-end;
    }
  }
}
