.site > footer {
  bottom: 0;
  padding: 3rem 2rem;
  border: 0.0625rem solid var(--secondary);
  border-radius: var(--radius);
}

.site > footer > section {
  display: flex;
  flex-wrap: wrap;
}

.site > footer > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.site > footer > ul li:not(:last-of-type) {
  margin-inline-end: 1em;
}

.site > footer > ul a {
  font-size: 0.825em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.site > footer > ul a svg {
  width: 3em;
  height: 3em;
}

.site > footer h2 {
  width: 100%;
}

.site > footer p {
  width: 100%;
  margin-block-end: 0.75em;
}

.site > footer p:last-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block-end: 1.25em;
}

.site > footer p:last-of-type a {
  height: max-content;
  margin-block-start: 0.25em;
}

.site speedlify-score {
  flex-wrap: wrap;
  gap: 0.25em;
}

.site .speedlify-score {
  border-width: 0.125em;
  font-variation-settings:
    'wght' var(--variable-wght-med),
    'ital' var(--variable-italic);
  color: var(--score-good);
  margin: 0;
}

.site .speedlify-score-ok {
  color: var(--score-ok);
}

.site .speedlify-score-bad {
  color: var(--score-bad);
}

.site .speedlify-rank-change {
  font-variation-settings:
    'wght' var(--variable-wght-med),
    'ital' var(--variable-italic);
  display: inline-flex;
  align-items: center;
  gap: 0.15em;
}

.site .speedlify-rank-change.up {
  color: var(--score-good);
}

.site .speedlify-rank-change.down {
  color: var(--score-bad);
}

.site .speedlify-rank-change.up::before {
  display: inline-block;
  background: currentcolor;
  width: 1em;
  height: 1em;
  content: '';
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M25,50c13.8,0,25-11.2,25-25S38.8,0,25,0,0,11.2,0,25s11.2,25,25,25ZM26.1,12.2l10.2,10.2c.4.4.6,1.1.3,1.7-.2.6-.8,1-1.4,1h-5.5v9.4c0,1.7-1.4,3.1-3.1,3.1h-3.1c-1.7,0-3.1-1.4-3.1-3.1v-9.4h-5.5c-.6,0-1.2-.4-1.4-1s-.1-1.3.3-1.7l10.2-10.2c.6-.6,1.6-.6,2.2,0Z"/></svg>');
}

.site .speedlify-rank-change.down::before {
  display: inline-block;
  background: currentcolor;
  width: 1em;
  height: 1em;
  content: '';
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M25,0C11.2,0,0,11.2,0,25s11.2,25,25,25,25-11.2,25-25S38.8,0,25,0ZM23.9,37.8l-10.2-10.2c-.4-.4-.6-1.1-.3-1.7.2-.6.8-1,1.4-1h5.5v-9.4c0-1.7,1.4-3.1,3.1-3.1h3.1c1.7,0,3.1,1.4,3.1,3.1v9.4h5.5c.6,0,1.2.4,1.4,1s.1,1.3-.3,1.7l-10.2,10.2c-.6.6-1.6.6-2.2,0Z"/></svg>');
}

@media only screen and (min-width: 48em) {
  .site > footer > ul a {
    font-size: 0.95em;
  }
}

@supports (display: grid) {
  @media only screen and (min-width: 48em) {
    .site > footer {
      margin-block-start: 6rem;
    }
  }

  @media only screen and (min-width: 125em) {
    .site > footer ul {
      justify-content: flex-end;
      grid-column: 1;
    }
  }
}
