/* stylelint-disable keyframe-block-no-duplicate-selectors */
.home article > figure {
  display: flex;
  margin-block-end: 1.5em;
  justify-content: center;
}

.home article > figure > span {
  font-size: 2em;
  position: relative;
  position: absolute;
  right: 48%;
  top: 40%;
  background: var(--body-background);
  color: var(--secondary);
  padding: 0 0.75em;
  z-index: 2;
  clip-path: polygon(0 0, 88.1% 23%, 100.33% 83.73%, 15% 100%);
}

.home article > figure > span::after,
.home article > figure > a::after {
  display: inline-block;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  background: var(--secondary);
  width: 100%;
  height: 100%;
  content: '';
  mix-blend-mode: multiply;
  opacity: 0.35;
}

.home article > figure a {
  font-family: system-ui, sans-serif;
  font-size: 3em;
  display: inline-block;
  position: absolute;
  bottom: 20%;
  background: var(--body-background);
  width: 1em;
  text-align: center;
  z-index: 2;
  line-height: 1;
  border-radius: var(--radius);
  border-bottom: 0.095em solid currentcolor;
  text-decoration: none;
  overflow: hidden;

  &:hover {
    animation: bounce 1s ease-in-out;
  }
}

/* may change */
a.jump-link {
  opacity: 1;
  transition: all var(--transition);

  @starting-style {
    opacity: 0;
  }
}

a.jump-link.hidden {
  opacity: 0;
}

a.jump-link.hidden:focus {
  opacity: 1;
}

.home .site main > article > header {
  margin: 0;
}

@media only screen and (min-width: 48em) {
  .home article > figure > span {
    font-size: 3em;
  }

  .home article > figure a {
    bottom: 25%;
  }
}
