/* stylelint-disable keyframe-block-no-duplicate-selectors */
.home article > figure {
  display: flex;
  background:
    radial-gradient(circle at 25% 25%, var(--link) 0%, transparent 50%),
    radial-gradient(circle at 75% 75%, var(--visited) 0%, transparent 50%),
    linear-gradient(180deg, var(--body-background) 0%, transparent 100%);
  margin-block-end: 1.5em;
  justify-content: center;
  container-type: inline-size;
}

.home article > figure > span {
  font-size: clamp(1.75em, 5cqi, 3.5em);
  position: relative;
  position: absolute;
  right: 48%;
  top: 40%;
  background: var(--body-background);
  color: var(--secondary);
  padding: 0 0.75em;
  z-index: 2;
  clip-path: polygon(0 0, 88.1% 23%, 100.33% 83.73%, 15% 100%);
}

.home article > figure > span::after,
.home article > figure > a::after {
  display: inline-block;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  background: var(--secondary);
  width: 100%;
  height: 100%;
  content: '';
  mix-blend-mode: multiply;
  opacity: 0.35;
}

.home article > figure a {
  font-family: var(--font-display);
  display: block;
  position: absolute;
  bottom: 20%;
  background: var(--body-background);
  text-align: center;
  z-index: 2;
  line-height: 1;
  border-bottom: 0.25em solid currentcolor;
  text-decoration: none;
  border-radius: 100%;

  svg {
    max-width: fit-content;
  }

  &:hover {
    animation: bounce 1s ease-in-out;
  }
}

.home article > figure > a::after {
  border-radius: 50%;
}

/* may change */
a.jump-link {
  opacity: 1;
  transition: all var(--transition);

  @starting-style {
    opacity: 0;
  }
}

a.jump-link.hidden {
  opacity: 0;
}

a.jump-link.hidden:focus {
  opacity: 1;
}

.home .site main > article > header {
  margin: 0;
}

@media only screen and (min-width: 48em) {
  .home article > figure a {
    bottom: 25%;
  }
}
