/* site layout  */
.site {
  border: 0.0625em solid currentColor;
  margin: 0 auto;
  max-width: 48em;
}

@supports (display: grid) {
  .site {
    border: none;
  }
}

.site main > article {
  display: flex;
  flex-direction: column;
}

.site main > article > header {
  margin-bottom: 1.5em;
}

.site main > article > figure {
  margin-bottom: 1.5em;
  order: -1;
  overflow: hidden;
  position: relative;
}

.site > *:not(main) {
  padding: 0 2rem;
}

.site > main > article > *:not(figure) {
  padding: 0 2rem;
}

@supports (display: grid) {
  @media only screen and (min-width: 48em) {
    .content-grid {
      display: grid;
      grid-template-columns:
        1fr
        0.25fr
        min(50ch, 100%)
        0.5fr
        1fr;
    }

    .content-grid > * {
      grid-column: 3;
    }

    .content-grid > pre,
    .content-grid > iframe {
      grid-column: 2 / 5;
      margin-bottom: 1.5em;
    }

    .site {
      display: grid;
      grid-template-areas:
        "header main"
        "header main"
        "header footer";
      grid-template-columns: 15em 1fr;
      margin: 0 auto;
      max-width: 107em;
      min-height: 100vh;
      padding: 0;
    }

    .site > main {
      border: 0.0625em solid rgb(var(--secondary));
      box-shadow: rgba(var(--secondary), 0.75) 0 0.1875em 0.75em;
      grid-area: main;
    }

    .site > *:not(main) {
      padding: 0;
    }

    .site > footer {
      border-left: 0.0625em solid rgb(var(--primary));
      grid-area: footer;
    }
  }
  @media only screen and (min-width: 133.75em) {
    .site {
      border-left: 0.0625em solid rgb(var(--primary));
    }
  }
}
