/* site layout  */
.site {
  max-width: 48em;
  border: 0.0625em solid currentcolor;
  margin: 0 auto;
}

@supports (display: grid) {
  .site {
    border: none;
  }
}

.site main > article > header {
  margin-block-end: 1.5em;
}

.site > *:not(main) {
  padding: 0 2rem;
}

.site > main > article > *:not(figure, .hero-grid) {
  padding: 0 2rem;
}

.content-grid > pre,
.content-grid > iframe,
.site main .content-grid > figure,
.content-grid > .wp-block-image {
  margin-block-end: 1.5em;
}

@supports (display: grid) {
  @media only screen and (min-width: 48em) {
    .content-grid {
      display: grid;
      grid-template-columns:
        1fr
        0.25fr
        min(50ch, 100%)
        0.5fr
        1fr;
    }

    .content-grid > * {
      grid-column: 3;
    }

    .header.content-grid {
      grid-template-columns:
        0.25fr
        0.5fr
        0.5fr
        min(50ch, 100%)
        0.5fr
        1fr;
    }

    .content-grid > pre,
    .content-grid > iframe,
    .content-grid > figure,
    .content-grid > .wp-block-image {
      grid-column: 2 / 5;
    }

    .site {
      display: grid;
      max-width: 107em;
      min-height: 100vh;
      padding: 0;
      grid-template-areas:
        'header main'
        'header main'
        'header footer';
      grid-template-columns: 15em 1fr;
    }

    .site > main {
      border: 0.0625em solid var(--secondary);
      grid-area: main;
      border-radius: var(--radius);
    }

    .site > *:not(main) {
      padding: 0;
    }

    .site > footer {
      grid-area: footer;
    }
  }

  @media only screen and (min-width: 133.75em) {
    .site {
      border-inline-start: 0.0625em solid var(--secondary);
    }
  }
}
