/* site layout  */
.site {
  box-shadow: var(--dark-green) 0 0.1875em 0.5em;
  margin: 0 auto;
  max-width: 48em;
  min-height: 100vh;
}

.site main > article {
  display: flex;
  flex-direction: column;
}

.site main > article > header {
  margin-bottom: 1.5em;
}

.site main > article > figure {
  margin-bottom: 1.5em;
  order: -1;
  position: relative;
}

.site > *:not(main) {
  padding: 0 2rem;
}

.site > main > article > *:not(figure) {
  padding: 0 2rem;
}

@supports (display: grid) {
  @media only screen and (min-width: 48em) {
    .content {
      display: grid;
      grid-template-columns:
        1fr
        min(55ch, 100%)
        1fr;
    }

    .content > * {
      grid-column: 2;
    }

    .content > pre,
    .content > iframe {
      grid-column: 1 / 4;
      margin: 0 auto 1.5rem auto;
      max-width: 80%;
      width: 80ch;
    }

    .site {
      display: grid;
      grid-template-areas:
        "header main"
        "header main"
        "header footer";
      grid-template-columns: 15em 1fr;
      margin: 0 auto;
      max-width: 85.375em;
      min-height: 100vh;
      padding: 0;
    }

    .site > main {
      border-left: 0.0625em solid var(--dark-green);
      grid-area: main;
    }

    .site > *:not(main) {
      padding: 0;
    }

    .site > footer {
      border-left: 0.0625em solid var(--rich-brown);
      grid-area: footer;
    }
  }
}
