a {
  text-decoration-thickness: 0.095em;
}

a:hover {
  text-decoration: none;
}

a svg {
  fill: currentColor;
}

a:visited svg {
  fill: rgb(var(--visited));
}

a:active svg {
  fill: rgb(var(--active));
}
