a:link {
  color: rgb(var(--link));
  text-decoration-thickness: 0.095em;
}

a:visited {
  color: rgb(var(--visited));
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  color: rgb(var(--active));
}

a:link svg {
  fill: currentColor;
}

a:visited svg {
  fill: rgb(var(--visited));
}

a:active svg {
  fill: rgb(var(--active));
}
