.site > header {
  border-bottom: 0.0625em solid black;
}

.site > header > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 48em;
}

.site > header a {
  position: relative;
}

.site > header > div > a {
  display: flex;
  max-width: 6em;
  padding: 0 0.5em;
}

.site > header > div a::after {
  background: currentColor;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 0.125rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width 0.35s ease-in-out;
  width: 0;
}

.site > header > div a:hover::after {
  width: 100%;
}

.site > header > div > nav > ul {
  align-items: center;
  display: flex;
  font-family: var(--font-sans-serif);
  font-style: italic;
  font-weight: 700;
  height: 100%;
  margin: 0;
}

.site > header > div > nav > ul li {
  height: 100%;
}

.site > header > div > nav > ul li a {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 0.5em;
}

@supports (display: grid) {
  @media only screen and (min-width: 48em) {
    .site > header {
      border-bottom: none;
      margin-left: 0;
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
    }

    .site header > div {
      align-items: center;
      flex-direction: column;
    }

    .site header > div > nav {
      margin-bottom: 1.25rem;
      width: 100%;
    }

    .site > header > div a {
      width: 100%;
    }

    .site > header > div > a {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5em;
      max-width: inherit;
      padding: 1em;
    }

    .site > header > div > nav > ul {
      align-items: flex-start;
      flex-direction: column;
    }

    .site > header > div > nav > ul li {
      width: 100%;
    }

    .site > header > div > nav > ul li a {
      font-size: 1.15em;
      padding-left: 5.5em;
    }
  }
}
