.pagination {
  width: 100%;
  padding: 0 1em;
  border-block-end: 0.125em solid rgb(var(--secondary));
  margin-block-end: 3em;
  text-align: center;
}

.pagination.no-results {
  border-block-end: none;
}

.pagination > * {
  display: inline-block;
  padding: 0.5em 0.5em 0.75em;
}

.pagination > .current {
  position: relative;
}

.pagination > .current::after {
  display: inline-block;
  position: absolute;
  inset-inline-start: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 0.625em;
  border-block-end-color: rgb(var(--secondary));
  margin-inline-start: -0.625em;
  content: '';
  pointer-events: none;
}

.pagination > *:not(:last-child) {
  margin-inline-end: 0.5em;
}
