.pagination {
  width: 100%;
  padding: 0 1em;
  border-bottom: 0.125em solid rgb(var(--secondary));
  margin-bottom: 3em;
  text-align: center;
}

.pagination.no-results {
  border-bottom: none;
}

.pagination > * {
  display: inline-block;
  padding: 0.5em 0.5em 1em;
}

.pagination > .current {
  position: relative;
}

.pagination > .current::after {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 0.625em;
  border-bottom-color: rgb(var(--secondary));
  margin-left: -0.625em;
  content: "";
  pointer-events: none;
}

.pagination > *:not(:last-child) {
  margin-right: 0.5em;
}
