.toc {
  background: var(--body-background);
  margin-block: 0.1875em 1rem;
  border-block-end: 0.125em solid var(--secondary);
  scroll-margin-top: 0.35rem;
}

.toc[open],
.toc:focus-within {
  border-color: transparent;
}

.toc summary {
  color: var(--secondary);
  padding-inline-start: 1rem;
  padding-block: 0.5rem;
  outline-offset: 0;
}

.toc nav {
  margin-block-start: 0.75rem;
  padding: 1rem;
  border: 0.125em solid var(--secondary);
  border-radius: var(--radius-2);
  view-transition-name: slide;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
}
/* stylelint-disable-next-line selector-type-no-unknown */
::view-transition-old(slide) {
  animation: 300ms ease-in reverse forwards slide;
  animation-delay: -250ms;
}
/* stylelint-disable-next-line selector-type-no-unknown */
::view-transition-new(slide) {
  animation: 300ms ease-out forwards slide;
  animation-delay: -200ms;
}

.toc ol {
  margin: 0;
}

.toc ol li {
  padding-block: 0.25rem;
}

.back-to-toc {
  display: flex;
  position: sticky;
  bottom: 0.05em;
  background: var(--body-background);
  padding: 0.5rem;
  justify-content: center;
  border-block-start: 0.125em solid currentcolor;
  border-block-end: 0.1875rem solid var(--body-background);
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
}

.back-to-toc.hidden {
  opacity: 0;
}

.back-to-toc:focus {
  border-color: transparent;
}

@media only screen and (min-width: 48em) {
  .toc,
  .back-to-toc {
    grid-column: 2/ 5;
  }
}
