.toc {
  position: static;
  top: 0.1875rem;
  background: rgb(var(--body-background));
  margin-block-end: 1rem;
  border-block-end: 0.1875rem solid rgb(var(--secondary));
  z-index: 2;
}

.toc[open],
.toc:focus-within {
  border-color: transparent;
}

.toc summary {
  color: rgb(var(--secondary));
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 0.5rem;
  outline-offset: 0;
}

.toc nav {
  padding: 1rem;
  margin-block-start: 0.75rem;
  border: 0.1875rem solid rgb(var(--secondary));
  border-radius: var(--radius-2);
}

.toc ol {
  margin: 0;
}

.toc ol li {
  padding-block-start: 0.25rem;
  padding-block-end: 0.25rem;
}

.back-to-toc {
  display: flex;
  position: sticky;
  bottom: 0.05em;
  background: rgb(var(--body-background));
  padding: 0.5rem;
  justify-content: center;
  border-block-start: 0.1875rem solid currentcolor;
  border-block-end: 0.1875rem solid rgb(var(--body-background));
}

.back-to-toc:focus {
  border-color: transparent;
}

@media only screen and (min-width: 48em) {
  .toc,
  .back-to-toc {
    grid-column: 2/ 5;
  }
}
