.toc {
  position: static;
  top: 0.1875rem;
  background: var(--body-background);
  margin-block-end: 1rem;
  border-block-end: 0.125em solid var(--secondary);
  z-index: 2;
}

.toc[open],
.toc:focus-within {
  border-color: transparent;
}

.toc summary {
  color: var(--secondary);
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 0.5rem;
  outline-offset: 0;
}

.toc nav {
  padding: 1rem;
  margin-block-start: 0.75rem;
  border: 0.125em solid var(--secondary);
  border-radius: var(--radius-2);
}

.toc ol {
  margin: 0;
}

.toc ol li {
  padding-block-start: 0.25rem;
  padding-block-end: 0.25rem;
}

.back-to-toc {
  display: flex;
  position: sticky;
  bottom: 0.05em;
  background: var(--body-background);
  padding: 0.5rem;
  justify-content: center;
  border-block-start: 0.125em solid currentcolor;
  border-block-end: 0.1875rem solid var(--body-background);
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
}

.back-to-toc.hidden {
  opacity: 0;
}

.back-to-toc:focus {
  border-color: transparent;
}

@media only screen and (min-width: 48em) {
  .toc,
  .back-to-toc {
    grid-column: 2/ 5;
  }
}
