body {
  background: rgb(var(--body-background));
  color: rgb(var(--primary));
  font-family: var(--font-serif);
  font-size: clamp(1rem, 0.125rem + 1.1vw, 1.25rem);
}

/* Strong Text Shadow for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--secondary));
  font-family: var(--font-sans-serif);
  font-weight: 700;
  margin-bottom: 0.35em;
}
.editor-post-title {
  color: rgb(var(--secondary));
  font-family: var(--font-sans-serif);
  font-size: 1.5em;
}

h1 {
  font-size: 2.625em;
  line-height: 0.975;
}

h2 {
  font-size: 1.875em;
  font-style: italic;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3;
}

h4 {
  font-size: 1.15em;
  line-height: 1.3;
}

ul,
ol {
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

ol,
ul,
p {
  margin-bottom: 1.5em;
}

blockquote {
  font-family: var(--font-sans-serif);
  margin-bottom: 1.5em;
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote::before {
  background: rgb(var(--primary));
  content: "";
  display: inline-block;
  height: 100%;
  left: -0.65em;
  position: absolute;
  top: 0;
  width: 0.125rem;
}

blockquote p {
  margin-bottom: 0;
}

blockquote p:first-of-type::after {
  content: "\201D";
  display: inline-block;
  font-family: var(--font-serif);
  font-size: 2em;
  line-height: 0;
  position: absolute;
  right: -0.5em;
  top: 0.35em;
}

blockquote cite {
  display: block;
  font-style: italic;
}

blockquote p:first-of-type {
  display: inline;
  position: relative;
}
