/* Strong Text Shadow for headings */

body {
  background-color: #f1f1f1;
  font-family: var(--font-serif);
  font-size: clamp(1rem, calc(0.125rem + 1.1vw), 1.25rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans-serif);
}

ul,
ol {
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

ol,
ul,
p {
  margin-bottom: 1.5em;
}
