font-settings fieldset,
color-theme-switcher fieldset,
sound-toggle fieldset {
  display: inline-flex;
  position: relative;
  background: transparent;
  padding: 0;
  flex-wrap: wrap;
  border: 0.125em solid var(--secondary);
  margin-block-end: 1.5em;
  border-radius: var(--radius);
}

color-theme-switcher {
  display: inline-block;
}

fieldset.color-theme-switcher {
  margin-inline-end: 1.5em;
}

font-settings fieldset legend,
color-theme-switcher fieldset legend,
sound-toggle fieldset legend {
  padding: 0 0.25em;
  margin: 0 0.5em 0 0.75em;
}

font-settings fieldset legend {
  margin: 0;
  margin-inline-start: -0.125em;
}

font-settings fieldset {
  padding: 0.5em 1em 1em;
  margin-block-end: 1em;
}

sound-toggle fieldset {
  padding-block-end: 0.5em;
  padding-inline-end: 1em;
  gap: 0.5em;
}

sound-toggle label {
  padding-inline-start: 1em;
}

font-settings fieldset:focus-within,
color-theme-switcher fieldset:focus-within,
sound-toggle fieldset:focus-within {
  box-shadow: var(--long-shadow);
}

color-theme-switcher input[type='radio'] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

color-theme-switcher fieldset input[type='radio'] {
  opacity: 0;
  cursor: pointer;
}

font-settings fieldset input[type='range'] {
  background: transparent;
  max-width: 6em;
  margin-block-start: 0.175em;
  margin-inline: 0.5em;
  appearance: none;
  outline-color: var(--secondary);
  outline-width: 0.125em;
  cursor: pointer;
}

font-settings fieldset input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--secondary);
  border-radius: 0.5em;
  height: 0.375em;
}

font-settings fieldset input[type='range']::-moz-range-track {
  background-color: var(--secondary);
  border-radius: 0.5em;
  height: 0.375em;
}

font-settings fieldset input[type='range']::-webkit-slider-thumb {
  position: relative;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  appearance: none;
  border: 0.125em solid var(--secondary);
  background-color: var(--body-background);
  margin-block-start: -0.45em;
  z-index: 5;
}

font-settings fieldset input[type='range']::-moz-range-thumb {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  appearance: none;
  border: 0.125em solid var(--secondary);
  background-color: var(--body-background);
}

fieldset.font-settings input[type='number'] {
  display: inline-block;
  background: transparent;
  color: var(--secondary);
  width: 4em;
  appearance: textfield;
  border: 0.125em solid var(--secondary);
  border-inline-end: none;
  border-inline-start: none;
  outline-color: var(--secondary);
  text-align: center;
}

fieldset.font-settings input[type='number']::-webkit-inner-spin-button,
fieldset.font-settings input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

font-settings fieldset span,
color-theme-switcher fieldset span {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75em;
}

.number {
  gap: 0;
  align-items: stretch;
}

.number > * {
  border-radius: 0;
  outline-offset: -0.1em;
}

.number button {
  cursor: pointer;
  display: flex;
  appearance: none;
  background: transparent;
  color: var(--secondary);
  align-items: center;
  justify-content: center;
  padding: 0.55em;
  border: 0.125em solid var(--secondary);
}

.number button svg {
  fill: currentcolor;
  width: 0.75em;
  height: 0.75em;
}

.number .decrement {
  border-start-start-radius: var(--radius);
  border-end-start-radius: var(--radius);
}

.number .increment {
  border-end-end-radius: var(--radius);
  border-start-end-radius: var(--radius);
}

font-settings fieldset span:not(:last-of-type),
color-theme-switcher fieldset span:not(:last-of-type) {
  padding-inline-end: 0;
}

@media only screen and (max-width: 20.625em) {
  fieldset.color-theme-switcher {
    padding: 0.5em;
  }

  fieldset.color-theme-switcher label {
    border: 0.125em solid var(--secondary);
    margin-inline-end: 0.25em;
  }
}

fieldset.color-theme-switcher label {
  display: flex;
  position: relative;
  margin-block-start: 0.5em;
  padding: 0.25em 1em 0.5em;
  margin: -0.0625em;
  align-items: center;
  border: 0.125em solid transparent;
  border-block-start: 0.125em solid var(--secondary);
  cursor: pointer;
}

fieldset.color-theme-switcher label:not(:last-of-type) {
  border-inline-end: 0.125em solid var(--secondary);
}

color-theme-switcher label:has(input[type='radio']:focus) {
  border: 0.125em solid currentcolor;
  border-block-start: 0.125em solid var(--secondary);
}

color-theme-switcher label:has(input[type='radio']:checked) {
  background: var(--secondary);
  color: var(--body-background);

  &:first-of-type {
    border-end-start-radius: var(--radius);
  }

  &:last-of-type {
    border-end-end-radius: var(--radius);
  }
}
