footer fieldset {
  background: transparent;
  border: 0.125em solid rgb(var(--secondary));
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  padding: 0;
  position: relative;
}

fieldset.color-theme-switcher {
  margin-right: 1.5em;
}

footer legend {
  margin: 0 .5em 0 1em;
  padding: 0 .25em;
}

fieldset.font-settings {
  gap: 1em;
  padding: .5em 1em 1em;
}

fieldset.font-settings b {
  display: inline-block;
  margin-left: .5em;
}

footer fieldset:focus-within {
  box-shadow: 0 1em 1em rgb(var(--secondary) 0.45);
  outline: 1em solid transparent;
}

footer fieldset input[type="radio"] {
  opacity: 0;
}

footer fieldset input[type="range"] {
  margin-left: .5em;
  margin-top: .175em;
  max-width: 6em;
}

footer fieldset span {
  display: flex;
}

footer fieldset span:not(:last-of-type) {
  padding-right: 0;
}

@media only screen and (max-width: 20.625em) {
  fieldset.color-theme-switcher  {
    padding: .5em
  }

  fieldset.color-theme-switcher label {
    border: .125em solid rgb(var(--secondary));
    margin-right: .25em;
  }
}

fieldset.color-theme-switcher label {
  align-items: center;
  border-top: .125em solid rgb(var(--secondary));
  cursor: pointer;
  display: flex;
  margin: -.0625em;
  margin-top: .5em;
  padding: .25em 1em .5em;
}

fieldset.color-theme-switcher label:not(:last-of-type) {
  border-right: .125em solid rgb(var(--secondary));
}

footer fieldset input[type="radio"]:checked + label {
  background: rgb(var(--secondary));
  color:rgb(var(--body-background));
}
