footer fieldset {
  display: inline-flex;
  position: relative;
  background: transparent;
  padding: 0;
  flex-wrap: wrap;
  border: 0.125em solid var(--secondary);
  margin-block-end: 1.5em;
  border-radius: var(--radius);
}

fieldset.color-theme-switcher {
  margin-inline-end: 1.5em;
}

footer fieldset legend {
  padding: 0 0.25em;
  margin: 0 0.5em 0 0.75em;
}

footer fieldset.font-settings legend {
  margin: 0;
  margin-inline-start: -0.125em;
}

fieldset.font-settings {
  padding: 0.5em 1em 1em;
  gap: 1em;
  max-width: calc(100vw - 6em);
}

footer fieldset:focus-within {
  box-shadow: var(--long-shadow);
}

footer fieldset input[type='radio'] {
  opacity: 0;
}

footer fieldset input[type='range'] {
  background: transparent;
  max-width: 6em;
  margin-block-start: 0.175em;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.5em;
  appearance: none;
  outline-color: var(--secondary);
  outline-width: 0.125em;
}

footer fieldset input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--secondary);
  border-radius: 0.5em;
  height: 0.375em;
}

footer fieldset input[type='range']::-moz-range-track {
  background-color: var(--secondary);
  border-radius: 0.5em;
  height: 0.375em;
}

footer fieldset input[type='range']::-webkit-slider-thumb {
  position: relative;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  appearance: none;
  border: 0.125em solid var(--secondary);
  background-color: var(--body-background);
  margin-block-start: -0.45em;
  z-index: 5;
}

footer fieldset input[type='range']::-moz-range-thumb {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  appearance: none;
  border: 0.125em solid var(--secondary);
  background-color: var(--body-background);
}

fieldset.font-settings input[type='number'] {
  display: inline-block;
  background: transparent;
  color: var(--primary);
  width: 4em;
  appearance: textfield;
  border: 0.125em solid var(--secondary);
  border-inline-end: none;
  border-inline-start: none;
  outline-color: var(--secondary);
  text-align: center;
}

fieldset.font-settings input[type='number']::-webkit-inner-spin-button,
fieldset.font-settings input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

footer fieldset span {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}

.number {
  gap: 0;
  align-items: stretch;
}

.number > * {
  border-radius: 0;
  outline-offset: -0.1em;
}

.number button {
  cursor: pointer;
  display: flex;
  appearance: none;
  background: transparent;
  color: var(--secondary);
  align-items: center;
  justify-content: center;
  padding: 0.55em;
  border-color: currentcolor;
  border: 0.125em solid var(--secondary);
}

.number button svg {
  fill: currentcolor;
  width: 0.75em;
  height: 0.75em;
}

.number .decrement {
  border-start-start-radius: var(--radius);
  border-end-start-radius: var(--radius);
}

.number .increment {
  border-end-end-radius: var(--radius);
  border-start-end-radius: var(--radius);
}

footer fieldset span:not(:last-of-type) {
  padding-inline-end: 0;
}

@media only screen and (max-width: 20.625em) {
  fieldset.color-theme-switcher {
    padding: 0.5em;
  }

  fieldset.color-theme-switcher label {
    border: 0.125em solid var(--secondary);
    margin-inline-end: 0.25em;
  }
}

fieldset.color-theme-switcher label {
  display: flex;
  position: relative;
  padding: 0.25em 1em 0.5em;
  margin: -0.0625em;
  align-items: center;
  border: 0.125em solid transparent;
  border-block-start: 0.125em solid var(--secondary);
  margin-block-start: 0.5em;
  cursor: pointer;
}

fieldset.color-theme-switcher label:not(:last-of-type) {
  border-inline-end: 0.125em solid var(--secondary);
}

footer fieldset input[type='radio']:focus + label {
  border: 0.125em solid currentcolor;
  border-block-start: 0.125em solid var(--secondary);
}

footer fieldset input[type='radio']:checked + label {
  background: var(--secondary);
  color: var(--body-background);
}

fieldset.color-theme-switcher
  input[type='radio']:checked:first-of-type
  + label {
  border-end-start-radius: var(--radius);
}

fieldset.color-theme-switcher input[type='radio']:checked:last-of-type + label {
  border-end-end-radius: var(--radius);
}
