{% extends "base.twig" %}

{% block content %}
  <article>
    <header class="content-grid">
      <h1>404</h1>
    </header>
    <figure>
      <img
        src="{{theme.path}}/images/max.gif"
        alt="max headroom animated gif gesturing towards camera"
      >
    </figure>
    <div class="content-grid">
      {% if bot_was_redirected %}
        <p>This redirected may have occured because you are a bot who attempted to exploit the common <code>/xmlrpc.php</code> vulnerability in
        WordPress. If this is not the case, my apologies.</p>
      {% else %}
        <p>Sorry, we couldn't find what you're looking for.</p>
        {% include "searchform.twig" %}
      {% endif %}
    </div>
  </article>
{% endblock %}