{% extends "base.twig" %}

{% block content %}
  <article class="post-type-404
   site-grid block">
    <header class="page-header">
      <h1 class="page-title" tabindex="-1">404</h1>
    </header>
    <figure>
      <img class="error404" src="{{theme.path}}/images/max.gif" alt="max headroom animated gif gesturing towards camera">
    </figure>
    <div class="content">
      <p class="search-message">Sorry, we couldn't find what you're looking for.</p>
      {% include "searchform.twig" %}
    </div>
  </article>
{% endblock %}