{% extends "base.twig" %}

{% block content %}
  <article>
    <header class="content-grid">
      <h1>404</h1>
    </header>
    <figure>
      <img
        src="{{theme.path}}/images/max.gif"
        alt="max headroom animated gif gesturing towards camera"
      >
    </figure>
    <div class="content-grid">
      <p>Sorry, we couldn't find what you're looking for.</p>
      {% include "searchform.twig" %}
    </div>
  </article>
{% endblock %}