{% extends "base.twig" %}

{% block content %}
  <article>
    <div class="hero-grid">
      <header>
        <h1>
          {{title}}
          {% if page_number %}
            <span>(Page {{page_number}})</span>
          {% endif %}
        </h1>
      </header>      
    </div>
    <div class="content-grid">
      <h2 class="assistive-text">{{sub_title}} List</h2>
      <ul role="list">
        {% for post in posts %}
            <li>{% include ['card-'~post.post_type~'.twig', 'card.twig'] %}</li>
        {% endfor %}
      </ul>
      {% include 'pagination.twig' %}
    </div>
  </article>
{% endblock %}
