{% extends "base.twig" %}

{% block content %}
  <article class="post-type-archive site-grid block">
    <header>
      <h1>{{title}}</h1>
    </header>
    <figure>
      <img
        src="{{theme.path}}/images/cham.jpg"
        alt="close up of miniature metallic chameleon standing on a metallic pedestal"
      >
    </figure>
    <div class="content">
      <h2 class="assistive-text">{{post.post_type}}</h2>
      {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
      {% endfor %}
      {% include 'pagination.twig' %}
    </div>
  </article>
{% endblock %}