{% extends "base.twig" %}

{% block content %}
  <article class="post-type-archive site-grid block">
    <header>
      <h1>{{title}}</h1>
    </header>
    <figure>
      <img src="{{theme.path}}/images/cham.jpg" alt="close up of miniature metallic chameleon standing on a metallic pedestal">
    </figure>
    <section class="content">
      <h2 class="assistive-text">Posts</h2>
      {% for post in posts %}
        <article>
          {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        </article>
      {% endfor %}
    </section>
  </article>
{% endblock %}