{% extends "base.twig" %}

{% block content %}
  <article>
    <header>
      <h1>{{title}}</h1>
    </header>
    <figure>
      <img src="{{theme.path}}/images/cham.jpg" alt="metallic chameleon">
    </figure>
        <section>
          {% for post in posts %}
            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
          {% endfor %}
        </section>
  </article>
{% endblock %}