  {% block html_head_container %}

  {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
  {% endblock %}

  <body class="{{body_class}}" data-template="base.twig">
    <div id="page" class="hfeed site">
      <a class="skip-link assistive-text" href="#content">Skip To Content</a>
      {% block header %}
      <header id="masthead">
        <div>
          {% include 'site-logo.twig' %}
          <nav id="site-navigation">
            {% include "menu.twig" with {'menu': menu.get_items} %}
          </nav><!-- #site-navigation -->
        </div>
      </header><!-- #masthead -->
      {% endblock %}

      <main id="content">
        {% block content %}
        {% endblock %}
      </main><!-- #content -->

      {% block footer %}
        <footer id="colophon">
          {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
      {% endblock %}
    </div><!-- #page -->
  </body>
</html>
