{% extends "base.twig" %}

{% block content %}
  <article id="post-{{post.ID}}">
    <header>
      <h1>{{post.title}}</h1>
    </header>
    <figure>
      {% include 'featured-image.twig' %}
    </figure>
    {{post.content}}
  </article>
{% endblock %}