{% extends "base.twig" %}

{% block content %}
  <article>
    {% if posts is empty %}
      <header>
        <h1>No Results</h1>
      </header>
      <figure>
        <img
          src="{{theme.path}}/images/cham.jpg"
          alt="close up of miniature metallic chameleon standing on a metallic pedestal"
        >
      </figure>
      <p>Sorry, no results matched your query, maybe try again</p>
      {% include 'searchform.twig' %}
    {% else %}
      <header>
        <h1>{{title}}</h1>
      </header>
      <figure>
        <img src="{{theme.path}}/images/cham.jpg" alt="close up of miniature metallic chameleon standing on a metallic pedestal">
      </figure>
      <div class="content-grid">
        <h2 class="assistive-text">Results</h2>
        {% for post in posts %}
          <article>
            {% include ['card.twig'] %}
          </article>
        {% endfor %}
        {% include 'pagination.twig' %}
      </div>
    {% endif %}
  </article>
{% endblock %}