{% extends "base.twig" %}

{% block content %}
  <article class="post-type-archive site-grid block">
    {% if posts is empty %}
      <header>
        <h1 tabindex="-1">No Results</h1>
      </header>
      <figure>
        <img
          src="{{theme.path}}/images/cham.jpg"
          alt="metallic chameleon"
          height="635"
          width="1300"
        >
      </figure>
      <div class="content">
        <p class="search-message">Sorry, no results matched your query, maybe try again</p>
        {% include 'searchform.twig' %}
      </div>
    {% else %}
      <header>
        <h1 tabindex="-1">{{title}}</h1>
      </header>
      <figure>
        <img src="{{theme.path}}/images/cham.jpg" alt="metallic chameleon">
      </figure>
      <h2 class="assistive-text">Results</h2>
      <div class="content">
        {% for post in posts %}
          <article>
            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
          </article>
        {% endfor %}
      </div>
    {% endif %}
  </article>
{% endblock %}