  <form class="search sans-bold-italic" method="get" id="searchform" action="{{site.url}}" role="search">
    <label for="s" class="assistive-text">Search</label>
    <input class="no-offset" type="text" class="field" name="s"  id="s" placeholder="CSS Grid&hellip;" />
    <input type="submit" class="action border no-offset" name="submit" id="searchsubmit" value="Search" />
  </form>
