{% extends "tease.twig" %}

{% block content %}
  <h2 class="delta"><a class="linked-header" href="{{post.link}}">{{post.title}}</a></h2>
  <div class="entry-meta">
    <time datetime="{{post.date|date('c')}}">{{post.date|date('l, F jS, Y')}}</time>
  </div>
{% endblock %}