{% extends "tease.twig" %}

{% block content %}
  <h3><a href="{{post.link}}">{{post.title}}</a></h3>
  <div class="entry-meta">
    <time datetime="{{post.date|date('c')}}">{{post.date|date('l, F jS, Y')}}</time>
  </div>
{% endblock %}