{% extends "base.twig" %}

{% block content %}
  <article class="site-main site-content__default">
  <figure class="wrapper hero-image">
    <img class="site-content__default__heroimg" src="{{theme.path}}/images/max.gif" alt="max headroom">
  </figure>
    <div class="wrapper">
      <div class="site-content__default__body">
        <header class="page-header">
          <h1 class="pag-title">404</h1>
        </header>
        <div class="site-content__blog__archives blog_listings">
          Sorry, we couldn't find what you're looking for.
        {% include "searchform.twig" %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}