  <form method="get" id="searchform" class="searchform" action="{{site.url}}" role="search">
    <label for="s" class="screen-reader-text">Search</label>
    <input type="text" class="field" name="s"  id="s" placeholder="Search &hellip;" />
    <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
  </form>