.site-grid {
  max-width:55em;
  margin: 0 auto;
  position: relative;
  .block {
    padding:0 5%;
    width:90%;
    margin:0 auto;
  }

  > * {
    min-width: 0;
  }

  @supports (display:grid) {
    max-width:120em;

    @media only screen and (min-width: 40em) {
      display:grid;
      column-gap:1em;
      grid-template-columns:repeat(3, 1fr);
      &.block {
        padding:0;
        width:100%;
      }
      main {
        grid-column: 1 / 4;
      }
    }

    @media only screen and (min-width: 64em) {
      grid-template-columns:repeat(12, 1fr);
      main {
        grid-column: 1 / 13;
        grid-row-start: 1;
      }
      .block {
        padding:0;
        width:inherit;
      }
    }

    @media only screen and (min-width: 120em) {
      grid-template-columns:repeat(16, 1fr);
      main {
        grid-column: 1 / 17;
      }
    }
  }

}