.home {
  figure {
    position: relative;
    img {
      display: block;
    }
    span {
      margin: 0;
      position: absolute;
      top: 40%;
      right: 52.5%;
      font-style: italic;
    }
  }


  @media only screen and (min-width:40em) {
    figure {
      span {
        font-size:3.5em;
      }
    }
  }

  @media only screen and (min-width:64em) {
    .content {
      display: block;
      width:35%;
      position: relative;
      z-index: 100;
      margin-top: -32%;
      padding: 8em 6em 8em 8em;
      &:before {
        transform: rotate(15deg);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        border: 1px solid #334259;
        background: rgba(235,235,235,0.9);
      }
    }
    figure {
      span {
        top: 47.5%;
      }
    }
  }

  @media only screen and (min-width:84.375em) {
    figure {
      span {
        top: 35%;
        right:55%;
      }
    }
  }
}