@include gs-media(m, min) {
  // base
  .wrapper.hero-image {
    width:90%;
  }
  h1 {
    font-size:2.625em;
  }
  // header
  .site-logo {
    .logo {
      @include gs-span(m, 1, 2);
    }
  }
  // footer
  .site-footer__social {
    @include gs-span(m, 1, 2);
  }
  .site-footer__colophon {
    @include gs-span(m, 1, 2);

    clear:both;
  }
  // default post and page styling
  .site-content__default {
    .site-content__default__body, .comments {
      @include gs-span(m, 1, 2);
    }
    .post-navigation {
      @include gs-span(m, 1, 2);
      .nav-links {
        width:50%;
      }
    }
  }
  // 404
  .error404 {
    .page-title {
      @include gs-span(m, 1);

      font-size:4em;
      margin-top:-20vw;
      text-align:right;
      padding-right:.25em;
    }
    .page-content {
      margin-top:3em;
      p {
        max-width:70%;
      }
    }
  }
  // home page
  .site-content__home {
    h1 {
      @include gs-span(m, 1, 2);
    }
    .site-content__home__copy {
      @include gs-span(m, 1, 2);

      margin-top:50%;
    }
    .site-content__home__blog {
      @include gs-span(m , 3);

      margin-top:50%;
      text-align:right;
    }
  }
  // blog page
  .site-content__blog {
    .entry-title {
      @include gs-span(m, 2, 3);
    }
  }
  .hero-image {
    img {
      @include gs-span(m, 2, 3);

      border:1px solid $dark-blue;
      border-top:none;
    }
  }
  .site-content__blog__postlist {
    @include gs-span(m, 2, 3);

    clear:both;
  }
  .site-content__blog__categories {
    @include gs-span(m, 1);

    margin-top:-15em;
    text-align:right;
    ol {
      float:right;
      min-width:40%;
    }
  }
  // media in posts
  .aligncenter, .alignright, .alignleft {
    max-width:50%;
  }
  .alignleft {
    display:inline;
    float:right;
    margin:.45em -25% 1em 1.5em;
  }
  .alignright {
    display:inline;
    float:right;
    margin:.45em -25% 1em 1.5em;
  }
  // comments
  .comment-author {
    float:left;
    width:50%;
  }
  .comment-metadata {
    float:left;
    width:50%;
    padding-top:.15em;
  }
  // about page
  .site-content__about {
    .entry-title {
      @include gs-span(m, 1);

      text-align:right;
    }
  }
  .site-content__about__copy {
    @include gs-span(m, 2, 3);

    clear:both;
  }
  .site-content__about__contact {
    @include gs-span(m, 1);
  }
  .site-content__about__resume {
    clear:both;
    dt {
      width:25%;
      margin-bottom:-.5em;
      text-align:right;
      border:none;
    }
    dd {
      margin-left:27%;
    }
    h3 {
      span {
        display:inline-block;
        float:right;
        margin-top:5px;
        margin-right:5%;
      }
    }
    dd p {
      width:65%;
    }
  }
  .site-content__about__picture {
    @include gs-span(m, 1, 2);
    p {
      position:absolute;
      top:35%;
      left:80%;
      width:55.5%;
    }
  }
  // portfolio listing
  .site-content__portfolio {
    .entry-title {
      @include gs-span(m, 2);

      clear:both;
    }
  }
  .site-content__portfolio__list {
    @include gs-span(m, 1, 3);
    display:grid;
    clear:both;
    li {
      @supports not (display: grid) {
        border:1px solid $dark-blue;
        float:left;
        width:33.3%;
      }
      &:first-child {
        grid-column:1 / 3;
        grid-row:1 / 3;
      }
      &:nth-child(2) {
        align-self:end;
        justify-content:end;
      }
    }
  }
  // portfolio single page
  .site-content__portfolio__single {
    .entry-title {
      @include gs-span(m, 1, 3);
    }
  }
  .portfolio__single__copy--print {
    @include gs-span(m, 1);

    clear:both;
    padding-right:1em;
  }
  .portfolio__single__copy--phone {
    @include gs-span(m, 1, 2);

    clear:both;
  }
  .portfolio__single__image--print {
    @include gs-span(m, 2, 3);
  }
  .portfolio__single__image--phone {
    @include gs-span(m, 3);
  }
}
