.post-list {
  article {
    @include animated;
    @include slideInUp;
    margin-bottom: 1.5em;
  }
  .msg {
    @include sans-bold-italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
  }
  @media only screen and (min-width: 40em) {
    grid-column: 1 / 3;
    margin-left: 1.5em;
  }

  @media only screen and (min-width: 64em) {
    grid-column: 5 / 9;
    margin-left: 0;
  }

  @media only screen and (min-width: 120em) {
    grid-column: 9 / 13;
  }

  .enter {
    @include animated;
    @include slideInLeft;
  }

  .exit {
    @include animated;
    @include slideOutRight;
  }
}

.categories {
  h2 {
    margin-top: -0.25em;
    margin-left: 0.25em;
  }
  @media only screen and (min-width: 40em) {
    grid-column: 1 / 3;
    margin-left: 1.5em;
    h2 {
      margin-left: -0.15em;
    }
  }

  @media only screen and (min-width: 64em) {
    grid-column: 10 / 12;
    margin-left: 0;
  }

  @media only screen and (min-width: 120em) {
    grid-column: 14 / 17;
  }
}
