article[class^='post-type-'] {
  figure {
    @include full-width;
    margin-bottom:1.5em;
    border:1px solid $dark-blue;
    img {
      filter:saturate(10%);
      display: block;
      &.error404 {
        width:100%;
      }
    }
  }

  header {
    h1 {
      margin-bottom:.2em;
      span {
        font-size:.5em;
        font-style:italic;
      }
    }
    margin-bottom: 1.5em;
  }

  pre {
    width:calc(100vw - 2em);
    margin-left: calc(50% - 1em);
    transform: translateX(calc(-50% + 1em));
    max-width: inherit;
  }

  .entry-footer {
    margin-bottom: 1.5em ;
  }

  .content {
    margin-bottom: 3em;
    article {
      margin-bottom: 1.5em;
    }
  }

  @media only screen and (min-width: 40em) {
    figure {
      grid-row-start: 1;
      grid-column: 2 / 4;
      margin:0;
      border-top:0;
      transform: inherit;
      width:inherit;
    }
    header {
      grid-column: 2 / 4;
      grid-row-start: 2;
      padding-right: 1.5em;
    }

    pre {
      width:calc(100% + 3em);
      margin-left: calc(50% - 6em);
      transform: translateX(calc(-50% + 6em));
    }

    .content {
      grid-column-start: 3;
      grid-column: 2 / 4;
      padding-right: 1.5em;
    }

    .entry-footer, .comments-area {
      grid-column: 2 / 4;
      margin-right: 1.5em;
    }

    .post-navigation {
      grid-column: 2 / 4;
    }

  }

  @media only screen and (min-width: 64em) {
    figure {
      grid-column: 4 / 12;
    }
    header {
      grid-column: 5 / 12;
    }

    pre, iframe {
      width:calc(100% + 10em) !important;
      margin-left: calc(50% - 20em);
      transform: translateX(calc(-50% + 20em));
    }

    iframe {
      max-width: inherit;
    }

    .content {
      grid-column: 5 / 9;
      padding-right:0;
    }
    .entry-footer, .comments-area {
      grid-column: 5 / 9;
      margin-right: 0;
    }

    .post-navigation {
      grid-row-start: 3;
      grid-column: 9 / 12;
    }

  }

  @media only screen and (min-width: 120em) {
    figure {
      grid-column: 8 / 17;
    }

    .content, .entry-footer, .comments-area {
      grid-column: 9 / 13;
    }

    .post-navigation {
      grid-column: 13 / 17;
    }

    header {
      grid-column: 9 / 17;
    }

  }

}