.site-footer {
  margin-top: 3em;
  padding-top: 1.5em;
  padding-bottom: 3em;
  border-top: 1px solid $dark-blue;
  background: $light-blue;

  small,
  ul {
    @include sans-reg;
  }

  #wcb {
    text-align: left;
    margin-bottom: 1.5em;
    font-size: 1em;
    color: $body-color;
  }

  #wcb_2,
  #wcb_a,
  #wcb_g {
    @include sans-reg;
  }

  #wcb_2:empty {
    display: none;
  }

  #wcb_a,
  #wcb_g {
    border-radius: 0;
    border: 1px solid $dark-blue;
  }

  #wcb_a {
    background: blue;
    padding: 0.3em 1em;
    border-left: 0;
    border-radius: 0 0.3em 0.3em 0;
    font-weight: 700;
    font-style: italic;
    &:focus {
      outline-offset: -3px;
      outline-color: $dark-blue;
      background: $dark-blue;
    }
  }

  nav {
    padding-bottom: 1.5em;
    border-bottom: 0.0625em solid $dark-blue;
    text-align: center;
    > a {
      @include link-reset;
      font: italic normal 700 1em / normal 'futura-pt', sans-serif;
      text-transform: uppercase;
    }
  }
  .menu {
    max-height: inherit;
    overflow: inherit;
    margin-bottom: 0.75em;
    li {
      border: none;
      background: inherit;
      text-align: center;
    }
    a {
      @include nav-link;
      transition: all 0.35s ease-in-out;
      display: block;
      padding: 0.5em 0;
    }
  }

  ul {
    @include plain-list;
    display: flex;
    margin-bottom: 1.5em;
    &.social {
      li {
        width: 25%;
        max-width: 6em;
        a {
          @include link-reset;
          outline-offset: -3px;
          display: block;
          padding-bottom: 1em;
          text-align: center;
          span {
            display: block;
          }
          svg {
            transition: background 0.35s ease-in-out;
            pointer-events: none;
            width: 100%;
            height: 100%;
            max-width: 6em;
            display: inline-block;
            fill: currentColor;
          }
          &:hover {
            color: white;
            background: $dark-blue;
            svg {
              fill: white;
            }
          }
          &:hover:focus {
            outline: none;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 40em) {
    grid-column: 1 / 4;
    align-self: flex-end;
    .social,
    nav {
      grid-column: 1 / 3;
    }
    .colophon {
      grid-column: 1 / 3;
    }
    .colophon,
    .social,
    nav {
      padding-left: 1.5em;
    }
  }

  @media only screen and (min-width: 64em) {
    grid-column: 1 / 13;
    position: relative;
    z-index: 1;
    padding: 0 0 6em 0;
    margin-top: 20em;
    border-top: none;
    &:before {
      transform: skewY(-10deg);
      background: $light-blue;
      position: absolute;
      z-index: -1;
      top: -10.625em;
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      border-top: 1px solid $dark-blue;
    }
    &:after {
      transform: skewY(-10deg);
      background: $light-blue;
      position: absolute;
      z-index: -1;
      top: -8em;
      right: 0;
      display: block;
      width: 40em;
      height: 100%;
      content: '';
    }
    .menu {
      min-height: inherit;
    }
    .colophon,
    .social {
      padding-left: 0;
    }
    nav {
      grid-column: 2 / 7;
      padding-left: 0;
      border-right: 0.0625em solid $dark-blue;
    }
    .social {
      grid-column: 2 / 7;
      li {
        max-width: 7.5em;
      }
    }
    .colophon {
      grid-column: 8 / 12;
    }
  }

  @media only screen and (min-width: 84.375em) {
    nav {
      grid-column: 2 / 6;
    }
    .social {
      grid-column: 2 / 7;
    }
    .colophon {
      grid-column: 7 / 10;
    }
  }

  @media only screen and (min-width: 120em) {
    grid-column: 1 / 17;
    nav {
      grid-column: 4 / 9;
    }
    .social {
      grid-column: 4 / 8;
    }
    .colophon {
      grid-column: 10 / 14;
    }
  }

  @media only screen and (min-width: 151em) {
    border-right: 1px solid $dark-blue;
    border-left: 1px solid $dark-blue;
    &:before,
    &:after {
      border-right: 1px solid $dark-blue;
      right: -1px;
    }
  }
}
