// header
.site-header {
  background-image: linear-gradient(to bottom, $light-blue, lighten($dark-blue, 45%));
  position:relative;
  border-bottom:1px solid $dark-blue;
  > * {
    line-height:0;
  }
  h1 {
    font-size:1em;
    margin:0;
    width:calc(65% - 1px);
    text-align: center;
  }
  .logo {
    pointer-events:none;
    height:2em;
    fill:$body-color;
    padding:1em 1em 1.15em;
  }
  a {
    @include nav-link;
    transition:background, .35s ease-in-out;
    display:block;
  }

  @media only screen and (min-width:40em) {
    grid-column: 1 / 4;
  }

  @media only screen and (min-width:64em) {
    grid-column: 2 / 5;
    grid-row-start: 1;
    z-index: 1;
    align-self: flex-start;
    border:1px solid $dark-blue;
    border-bottom:none;
    border-top:none;
    background:$light-blue;
    &:before {
      content:'';
      position:absolute;
      z-index:-1;
      transform:skewY(15deg);
      background-image: linear-gradient(to bottom, $light-blue, lighten($dark-blue, 45%));
      top:5em;
      left:-1px;
      display:block;
      width:100%;
      height:100%;
      border:1px solid $dark-blue;
      border-top:none;
    }
    h1 {
      width:100%;
    }
    .logo {
      width:100%;
      height:3em;
      margin:1em auto 0 auto;
      padding:0 0 .75em;
      margin-top:2em;
    }
  }
  @media only screen and (min-width:120em) {
    grid-column: 3 / 5;
  }
}

// base menu styling
.menu {
  @include plain-list;
  transition:max-height .35s ease-in-out, visibility .35s ease-in-out;
  overflow: hidden;
  li {
    font-family:'futura-pt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:1.25em;
    width:100%;
    border-bottom:1px solid $dark-blue;
    background:$white;
    &:first-child {
      border-top:1px solid $dark-blue;
    }
    &:last-child {
      border-bottom:0;
    }
    a {
      padding:.85em 10%;
      color:$body-color;
    }
  }
  .current-menu-item {
    a {
      @include alpha-attribute('background-color', rgba($dark-blue, .20), lighten($dark-blue, 70%));
    }
  }
  @media only screen and (max-width:64em) {
    &.closed {
      visibility: hidden;
      max-height: 0;
    }
    &.open {
      visibility: visible;
      max-height: 15em;
    }
  }
  @media only screen and (min-width:64em) {
    font-size:1.25em;
    text-align:right;
    margin-top:1.5em;
    li {
      background:none;
      border-bottom:none;
      &:first-child {
        border-top:none;
      }
      &:last-child {
        border-bottom:none;
      }
      a {
        padding:.05em 35% .05em 0;
      }
    }
  }
}

.main-nav-toggle {
  @include plain-button;
  transition:all, .35s, ease-in-out;
  font:italic normal 700 1em/normal 'futura-pt', sans-serif;
  position:absolute;
  top:0;
  right:0;
  width:35%;
  height:4.15em;
  padding:0;
  text-transform:uppercase;
  color:$link-blue;
  border-radius:0;
  border:0;
  background:white;
  border-left:1px solid $dark-blue;
  &:hover, &:active, &:focus {
    border-left:1px solid $dark-blue;
    background:white;
    color:$link-blue;

  }
  .label {
    display:inline-block;
    margin-left:.2em;
  }
  .main-nav-button {
    overflow:hidden;
    max-width:1.5625em;
    max-height:.75em;

    fill:$link-blue;
    .one, .two, .three {
      transition:all .35s linear;
      transform:rotate(0deg) scale(1);
      transform-origin:0 50%;
    }
  }
  &.close-state {
    .main-nav-button {
      .one {
        transform:rotateZ(-45deg) scale(.95);
        transform-origin:11.5em 5em;
      }
      .two {
        transform:translateY(-25em);
      }
      .three {
        transform:rotateZ(45deg) scale(.95);
        transform-origin:11.5em 5em;
      }
    }
  }
  @media only screen and (min-width:64em) {
    display:none;
  }
}