pre {
  color:white;
}

// wrapper base width
.wrapper {
  width:90%;
}

.wrapper.hero-image {
  width:100%;
}

// header
.site-header__banner {
  @include linear-gradient($light-blue, lighten($dark-blue, 52.5%));
  border-bottom:1px solid $dark-blue;
  h1 {
    font-size:1em;
    margin:0;
  }
}

.site-header {
  position:relative;
  &.wrapper {
    width:inherit;
  }
}

.site-logo {
  @extend %nav-link;
  @extend %link-reset;

  font-family:'futura-pt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display:block;
  padding:1em 1em 1em;
  .logo {
    @include gs-span(s, 1);

    height:2em;

    fill:$body-color;
  }
}

// base menu styling
.menu {
  @extend %clearfix;
  @extend %plain-list;
  li {
    font-family:'futura-pt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:1.25em;
    width:100%;
    border-bottom:1px solid $dark-blue;
    background:$white;
    &:first-child {
      border-top:1px solid $dark-blue;
    }
    &:last-child {
      border-bottom:0;
    }
    a {
      @extend %nav-link;
      @extend %link-reset;

      display:block;
      padding:.85em 10%;
      color:$body-color;
    }
  }
  .current-menu-item {
    a {
      @include alpha-attribute('background-color', rgba($dark-blue, .20), lighten($dark-blue, 70%));
    }
  }
}

// enhanced styling
.js .menu {
  visibility:hidden;
  overflow:hidden;
  max-height:0;
  transition:all .15s ease-out;
  &.open {
    visibility:visible;
    max-height:12em;
    transition:all .25s ease-in;
  }
}

// menu toggle
// base styling
.main-nav-toggle {
  @extend %plain-button;
  @include transition(all, .35s, ease-in-out);

  font:italic normal 700 1em/normal futura-pt,sans-serif;
  position:absolute;
  top:0;
  right:0;
  display:none;
  width:35%;
  height:4.005em;
  text-transform:uppercase;
  color:$green;
  border-left:1px solid $dark-blue;
  background:white;
  .label {
    display:inline-block;
    margin-left:.2em;
  }
  &:hover, &:active, &:focus {
    border-left:1px solid $dark-blue;
  }
  .main-nav-button {
    overflow:hidden;
    max-width:1.5625em;
    max-height:.75em;

    fill:$green;
    .one, .two, .three {
      -webkit-transition:all .35s linear;
              transition:all .35s linear;
      -webkit-transform:rotate(0deg) scale(1);
              transform:rotate(0deg) scale(1);
      -webkit-transform-origin:0 50%;
              transform-origin:0 50%;
    }
  }
  &.close-state {
    .main-nav-button {
      .one {
        -webkit-transform:rotateZ(-45deg) scale(.95);
                transform:rotateZ(-45deg) scale(.95);
        -webkit-transform-origin:11.5em 5em;
                transform-origin:11.5em 5em;
      }
      .two {
        -webkit-transform:translateY(-25em);
                transform:translateY(-25em);
      }
      .three {
        -webkit-transform:rotateZ(45deg) scale(.95);
                transform:rotateZ(45deg) scale(.95);
        -webkit-transform-origin:11.5em 5em;
                transform-origin:11.5em 5em;
      }
    }
  }
}

// enhanced experience
.js .main-nav-toggle {
  display:block;
}

.site-footer {
  margin-top:3em;
  padding-bottom:3em;
  border-top:1px solid $dark-blue;
  background:$light-blue;
}
.site-footer__social {
  margin:1.5em 0 1.5em 0;
  padding:0;
  list-style:none;
  li {
    float:left;
    width:25%;
    a {
      @extend %link-reset;

      font-family:'futura-pt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      position:relative;
      display:block;
      padding-bottom:1em;
      text-align:center;
      svg {
        display:block;

        fill:$green;
      }
      &:hover {
        color:$white;
        background:$dark-blue;
        svg {
          fill:$white;
        }
      }
    }
  }
}
.site-footer__colophon {
  small {
    font-family:'futura-pt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

// default post and page styling
.site-content__default {
  .entry-title {
    margin-bottom:.25em;
  }
  .site-content__default__body, .comments {
    clear:both;
  }
}
// search result styling
.search-results {
  .blog_listings {
    .entry-meta {
      margin-bottom:0;
    }
  }
  .tease {
    margin-bottom:1.5em;
  }
}
.search-message {
  margin-bottom:.75em;
}
// home page specific styles
.site-content__home {
  @extend %relative;
  h1 {
    @include gs-span(s, 1);
    font-style:italic;
    margin-top:30%;
    text-align:center;
  }
}
.site-content__home__heroimg {
  position:absolute;
  z-index:-5;
  right:0;
  border-bottom:1px solid $dark-blue;
  border-left:1px solid $dark-blue;
}

.site-content__home__blog {
  h3 {
    font-size:1.5em
  }
}


.js .site-content__home__heroimg {
  left:0;
  border-left:none;
}
.site-content__home__copy {
  @include gs-span(s, 1, 2);

  clear:both;
  margin-top:55%;
}

// blog listing specific styles
.blog_listings {
  border-bottom:.0625em solid $medium-gray;
  margin-bottom:3em;
  .entry-meta {
    margin-bottom:1.5em;
    padding:0;
    color:$dark-blue;
    border-bottom:1px solid $medium-blue-gray;
    background:none;
    a {
      color:$green;
      &:hover {
        background:none;
      }
    }
  }
}

// blog listing specific styles
.site-content__author {
  .entry-meta {
    margin-bottom:1.5em;
  }
}

.hero-image {
  img {
    position:relative;
    z-index:-2;
    border:1px solid $dark-blue;
    border-top:none;
    border-right:none;
    border-left:none;
    -webkit-filter:grayscale(100%);
            filter:grayscale(100%);

  }
}

.site-content__blog__archives {
  h2 {
    margin-bottom:.15em;
  }
  .entry-meta {
    margin-bottom:1.5em;
  }
}

// about page specific styles
.site-content__about__contact {
  margin-bottom:1.5em;
  .contact {
    font-family:'futura-pt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin:0;
    padding:0;
    list-style:none;
  }
}
.site-content__about__resume {
  margin-bottom:3em;
  h2 {
    display:inline-block;
  }
  .action {
    display:inline-block;
    margin:0 0 0 3em;
  }
  .resume {
    padding:5%;
    border:1px solid rgba(33, 33, 33, .15);
    -webkit-box-shadow:inset 0 0 10px rgba(33, 33, 33, .05);
       -moz-box-shadow:inset 0 0 10px rgba(33, 33, 33, .05);
            box-shadow:inset 0 0 10px rgba(33, 33, 33, .05);
  }
  dt {
    font:400 normal 1.6em 'futura-pt', sans-serif;
    margin:1.5em 0 .5em 0;
    border-bottom:1px solid rgba(33, 33, 33, .25);
    &:first-child {
      margin-top:0;
    }
  }
  h3 {
    font:400 normal 1.25em 'futura-pt', sans-serif;
    color:$body-color;
  }
  .company-name, .internship-location {
    font:400 italic 1.125em 'futura-pt', sans-serif;
    margin:0 0 .15em 0;
    color:$body-color;
  }
  dd {
    margin:0 0 1.5em 0;
  }
  em {
    font-style:normal;
    display:block;
  }
  span {
    font:normal .75em 'futura-pt', sans-serif;
    display:inline-block;
  }
  ul {
    margin:0;
    padding:0;
    li {
      list-style:none;
    }
  }
}

.photo-feed {  
  @extend %plain-list;
  @include cf;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax( 125px, 1fr ));
  grid-gap:3px;
  @supports (display: grid) {
    &:after, &:before {
      content:none;
    }
  }
  li  {
    box-shadow:0 0 0 3px $background-white;
    float:left;
    width:25%;
    img {
      width:100%;
    }
    @supports(display:grid) {
      float:none;
      width:inherit;
    }
  }
}
.site-content__about__picture {
  position:relative;
  .img-link {
    @extend %link-reset;
  }
  img {
    display:block;
  }
  p {
    padding:1em;
    border:1px solid $dark-blue;
    background:$background-white;
    margin-top: 1.5em;
  }
}
// portfolio specific styles
// listing page
.site-content__portfolio__list {
  @extend %plain-list;
  @include cf;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-columns:1fr;
  grid-gap:1px;
  @supports (display: grid) {
    &:after, &:before {
      content:none;
    }
  }
  li {
    list-style:none;
    background:$dark-blue;
    box-shadow:0 0 0 1px $dark-blue;
  }
  img {
    @extend %block;
    @include transition(all, .3s, ease-in-out);
  }
}
.site-content__portfolio__listlink {
  @extend %link-reset;

  position:relative;
  display:block;
  overflow:hidden;
  .title {
    @extend %inline-block;
    @include verticalAlign(50%);

    font-size:1em;
    left:10%;
    display:none;
    width:75%;
    color:$white;
    em {
      @include animated;

      font-weight:normal;
      display:block;
    }
    span {
      @include animated;
    }
  }
  &:hover {
    .title {
      z-index:1;
      display:block;
    }
    em {
      @include slideInRight;
      @include hardware;
    }
    span {
      @include slideInLeft;
      @include hardware;

      display:inline-block;
    }
    img {
      opacity:.15;

      -webkit-filter:blur(4px);
              filter:blur(4px);
              filter:alpha(opacity=15);
    }
  }
}
// portfolio single page
.site-content__portfolio__single {
  strong {
    font-style:italic;
    display:block;
    margin-bottom:1.5em;
    color:$dark-blue;
  }
}
.portfolio__single__image--phone {
  text-align:center;
  img {
    display:block;
    max-width:80%;
    margin:0 auto;
  }
}
.portfolio__single__image--print {
  text-align:center;
  img {
    display:block;
  }
}
.back-link {
  margin-top:3em;
}

@include gs-media(s, min-max) {
  ul, ol {
    margin-left:1.15em;
  }
  .searchform {
    label {
      display:block;
    }
    .field {
      max-width:65%;
    }
  }
  .single {
    .byline {
      display:block;
    }
  }
}
